/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 100px;
  width: 100px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.label.profile {
  font-size: 80% !important;
  line-height: 2 !important;
}

.btn.profile {
  margin-top: 40px;
}

.well.profile {
  min-height: 300px;
  margin-bottom: 0px;
}

.thumbnail.profile {
  height: 125px;
  width: 125px;
}

.thumbnail.school {
  height: 75px;
  width: 75px;
}

h2.profile {
  margin-top: 0px;
}

.tasks {
  width: 90%;
  margin-left: 10px;
}

.larger-glyphicon {
  font-size: 125%;
}

.margin-top-20 {
  margin-top: 20px;
}

.bg-well {
  background-color: #f5f5f5;
}

.help-block.profile {
  margin-bottom: 0px;
}

.text-small {
  font-size: 11px;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.gafe-link-btn {
  height: 34px !important;
  padding-top: 4px !important;
}

.container {
  margin-top: 20px;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector





