<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheet.css" rel="stylesheet">
  </head>
  <body ng-app="myApp">
    <div ng-controller="myController as ctrl">
      <div class="container-fluid height-full" ng-class="ctrl.themesObj[ctrl.selectedTheme]">

        <div class="row padding-left">
          <h3>Select a theme</h3>
          <span ng-repeat="theme in ctrl.themesArr" class="radio-inline">
            <input type="radio" name="uiTheme" ng-value="theme" ng-model="ctrl.selectedTheme">
            <label ng-bind="theme"></label>
          </span>
          <div class="variant panel text-center" ng-class="ctrl.themesObj[ctrl.selectedTheme] + '-lighter'">
            <h5 ng-show="ctrl.selectedTheme !== 'None'" ng-bind="ctrl.selectedTheme + ' lighter'"></h5>
          </div>
          <div class="variant panel text-center" ng-class="ctrl.themesObj[ctrl.selectedTheme] + '-darker'">
            <h5 ng-show="ctrl.selectedTheme !== 'None'" ng-bind="ctrl.selectedTheme + ' darker'"></h5>
          </div>
        </div>

        <hr>

        <div class="row padding-left">
          <div class="col-md-4">
            <h3>My files</h3>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="ctrl.hideFiles">Hide all
              </label>
            </div>
            <div ng-repeat="(key, value) in ctrl.foldersObj">
              <h5><span class="glyphicon glyphicon-folder-close"></span>   <span ng-bind="key"></span></h5>
              <ul><li ng-hide="ctrl.hideFiles" ng-repeat="file in value" ng-bind="file"></li></ul>
            </div>
          </div>

          <div class="col-md-8">
            <h3>Add file</h3>
            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="File name" ng-model="ctrl.fileName">
              </div>
              <button class="btn btn-default" ng-click="ctrl.addFile()">Add file</button>
            </form>
            <div class="margin-top-10">
              <div ng-repeat="(key, value) in ctrl.foldersObj">
                <input type="radio" name="fileType" ng-value="key" ng-model="ctrl.selectedFolder">
                <label ng-bind="key"></label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
