<div class="container">
  <div class="row">

    <div class="col-md-7">
      <div class="well profile-container">
        <ds-user-profile user="myProfileCtrl.state.loggedInUser"></ds-user-profile>
      </div>
    </div>

    <div class="col-md-5">
      <!-- can't do myProfileCtrl.state.loggedInUser.tasks.list here because list is not populated yet   -->
      <ds-tasks-manager tasks="myProfileCtrl.state.loggedInUser.tasks"></ds-tasks-manager>
    </div>

  </div>

  <br><br><br><br><pre>{{myProfileCtrl | json}}</pre>

</div>

