<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title text-center">Search for Users</h5>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Cluster:</label>
            <select class="form-control" ng-options="cluster.clusterId as cluster.name for cluster in userDirectoryCtrl.allClusters" ng-model="userDirectoryCtrl.searchContext.usersRole.clusterIds" ng-change="userDirectoryCtrl.evaluateFilter()">
              <option value="">--- all clusters ---</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">School:</label>
            <select class="form-control" ng-options="school.schoolId as school.name for school in userDirectoryCtrl.allSchools" ng-model="userDirectoryCtrl.searchContext.usersRole.schoolIds" ng-change="userDirectoryCtrl.evaluateFilter()">
              <option value="">--- all schools ---</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">First Name:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.firstName" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="first name">
          </div>
          <div class="form-group">
            <label class="control-label">Last Name:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.lastName" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="last name">
          </div>
          <div class="form-group">
            <label class="control-label">Job Title:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.title" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="job title">
          </div>
          <div class="form-group">
            <label class="control-label">Department:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.department" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="department">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <ds-directory-list-group users="userDirectoryCtrl.users.staff" title="School Colleagues"></ds-directory-list-group>
    </div>

    <div class="col-md-4">
      <ds-directory-list-group users="userDirectoryCtrl.users.support" title="Support Staff"></ds-directory-list-group>
    </div>

  </div>

</div>


<pre>{{userDirectoryCtrl.searchContext | json}}</pre>
<pre>{{userDirectoryCtrl.users | json}}</pre>
<pre>{{userDirectoryCtrl.schools | json}}</pre>
<pre>{{userDirectoryCtrl.clusters | json}}</pre>

<!--   <div class="row">

    <div class="col-md-4">
      <div class="well">
        <h3  class="text-center">Search for Users</h3>
        <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.firstName" placeholder="search by firstName">
        <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.lastName" placeholder="search by lastName">
        <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.title" placeholder="search by title">
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <h3 class="text-center">School Staff</h3>
        <div class="margin-bottom" ng-repeat="user in userDirectoryCtrl.state.users | filter: userDirectoryCtrl.searchContext">
          <h5><span ng-bind="user.profile.firstName"></span> <span ng-bind="user.profile.lastName"></span></h5>
          <h6 ng-bind="user.usersRole.schoolIds"></h6>
          <h6 ng-bind="user.authenticationEmail"></h6>
          <h6 ng-bind="user.gafeEmail"></h6>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <h3 class="text-center">Support Staff</h3>
        <div class="margin-bottom" ng-repeat="user in userDirectoryCtrl.state.users | filter: userDirectoryCtrl.searchContext">
          <h5><span ng-bind="user.profile.firstName"></span> <span ng-bind="user.profile.lastName"></span></h5>
          <h6 ng-bind="user.usersRole.schoolIds"></h6>
          <h6 ng-bind="user.authenticationEmail"></h6>
          <h6 ng-bind="user.gafeEmail"></h6>
        </div>
      </div>
    </div>

  </div> -->

  <!-- <pre>{{userDirectoryCtrl.searchContext | json}}</pre> -->

