<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title text-center">Search for Users</h5>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Cluster:</label>
            <select class="form-control" ng-options="cluster.clusterId as cluster.name for cluster in userDirectoryCtrl.allClusters" ng-model="userDirectoryCtrl.searchContext.usersRole.clusterIds" ng-change="userDirectoryCtrl.evaluateFilter()">
              <option value="">--- all clusters ---</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">School:</label>
            <select class="form-control" ng-options="school.schoolId as school.name for school in userDirectoryCtrl.allSchools" ng-model="userDirectoryCtrl.searchContext.usersRole.schoolIds" ng-change="userDirectoryCtrl.evaluateFilter()">
              <option value="">--- all schools ---</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">First Name:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.firstName" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="first name">
          </div>
          <div class="form-group">
            <label class="control-label">Last Name:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.lastName" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="last name">
          </div>
          <div class="form-group">
            <label class="control-label">Job Title:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.title" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="job title">
          </div>
          <div class="form-group">
            <label class="control-label">Department:</label>
            <input type="text" class="form-control" ng-model="userDirectoryCtrl.searchContext.profile.department" ng-change="userDirectoryCtrl.evaluateFilter()" placeholder="department">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <ds-directory-list-group users="userDirectoryCtrl.users.staff" title="School Colleagues"></ds-directory-list-group>
    </div>

    <div class="col-md-4">
      <ds-directory-list-group users="userDirectoryCtrl.users.support" title="Support Staff"></ds-directory-list-group>
    </div>

  </div>

</div>

<!-- <pre>{{userDirectoryCtrl | json}}</pre> -->
