<div class="modal-header">
    <h3 class="modal-title">Edit Profile</h3>
</div>

<div class="modal-body">
  <form name="editProfileCtrl.editProfileForm" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-md-3 control-label">EID:</label>
      <div class="col-md-5"><input type="text" class="form-control" ng-model="editProfileCtrl.user.eid" disabled></div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">File Number:</label>
      <div class="col-md-5"><input type="text" class="form-control" ng-model="editProfileCtrl.user.fileNumber" disabled></div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Email:</label>
      <div class="col-md-5"><input type="text" class="form-control" ng-model="editProfileCtrl.user.authenticationEmail"disabled></div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">School:</label>
      <div class="col-md-7">
        <select class="form-control" disabled><option ng-bind="editProfileCtrl.user.school.name"></option></select>
      </div>
    </div>
    <div ng-class="{'has-error': editProfileCtrl.editProfileForm.firstName.$invalid}" class="form-group">
      <label class="col-md-3 control-label">First Name:</label>
      <div class="col-md-7"><input type="text" name="firstName" class="form-control" ng-model="editProfileCtrl.user.profile.firstName" placeholder="First Name" required></div>
    </div>
    <div ng-class="{'has-error': editProfileCtrl.editProfileForm.lastName.$invalid}" class="form-group">
      <label class="col-md-3 control-label">Last Name:</label>
      <div class="col-md-7"><input type="text" name="lastName" class="form-control" ng-model="editProfileCtrl.user.profile.lastName" placeholder="Last Name" required></div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Job Title:</label>
      <div class="col-md-7">
      <input type="text" name="jobTitle" class="form-control" ng-model="editProfileCtrl.user.profile.title" placeholder="Job Title"></div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Department:</label>
      <div class="col-md-7"><input type="text" name="department" class="form-control" ng-model="editProfileCtrl.user.profile.department" placeholder="Department"></div>
    </div>
    <div ng-show="editProfileCtrl.user.hasGafe" class="form-group">
      <label class="col-md-3 control-label">GAFE Email:</label>
      <div class="col-md-5"><input type="text" class="form-control" ng-value="editProfileCtrl.user.gafeEmail" disabled></div>
      <div class="col-md-2 padding-left-0"><button type="button" class="btn btn-danger gafe-link-btn"><span class="glyphicon glyphicon-link larger-glyphicon"></span>  Unlink</button></div>
    </div>
    <div ng-hide="editProfileCtrl.user.hasGafe" class="form-group">
      <label class="col-md-3 control-label">GAFE Email:</label>
      <div class="col-md-7">
        <button type="button" class="btn btn-danger gafe-link-btn"><span class="glyphicon glyphicon-link larger-glyphicon"></span>  Link your Google Apps for Education Email</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <p>
    <button type="button" class="btn btn-warning" ng-click="editProfileCtrl.close()">Close</button>
    <input type="submit" class="btn btn-primary" ng-click="editProfileCtrl.save()" value="Save">
  </p>
  <p>
    <alert ng-show="editProfileCtrl.showAlert" type="{{editProfileCtrl.alert.type}}" dismiss-on-timeout="5000" close="editProfileCtrl.closeAlert()">
      <b ng-bind="editProfileCtrl.alert.title"></b>
      <span ng-bind="editProfileCtrl.alert.msg"></span>
    </alert>
  </p>
</div>
